<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <script>
        {% if message %}
            alert('{{ message }}')
        {% endif %}
    </script>
</head>
<body>
    <form action="{% url 'players:create_player' %}" method="post">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" id="id_username" required/><br>
        <label>Password</label>
        <input type="password" name="password" id="id_password" required/><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>